[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pep8 = "*"
pytest = "*"
pytest-console-scripts = "*"
pytest-docker = "*"
pytest-pylint = "*"
recommonmark = "*"
sphinxcontrib-programoutput = "*"
sphinxcontrib-restbuilder = "*"
yapf = "*"
sphinx = "*"
autopep8 = "*"

[packages]
funcy = "*"
rollbar = "*"
toolz = "*"
ujson = "*"
aiohttp = "*"
cchardet = "*"
uvloop = "*"
sqlalchemy = "*"
aiomysql = "*"
mysqlclient = "*"

[requires]
python_version = "3.5"
